.FormElement input {
  height: 2.5em;
}

.FormElement input,
.FormElement textarea {
  width: 68.5%;
  margin-bottom: 1.5em;
  vertical-align: text-top;
  background-color: #fffff0;
}

.FormElement textarea {
  height: 95px;
}

.FormElement label {
  width: 30%;
  display: inline-block;
  color: #fffff0;
  font-size: 1.2em;
}

@media only screen and (max-width: 650px) {
  .FormElement textarea {
    height: 6em;
  }
}

@media only screen and (max-width: 500px) {
  .FormElement label {
    margin-bottom: 0.1em;
  }

  .FormElement input {
    margin-bottom: 1em;
    width: 100%;
  }

  .FormElement textarea {
    height: 7em;
    width: 100%;
  }
}

@media only screen and (max-width: 321px) {
  .FormElement input {
    margin-bottom: 0.8em;
  }

  .FormElement textarea {
    margin-bottom: 1em;
    height: 6em;
  }
}
