.Footer {
  height: 18.5em;
  background-color: #1c110a;
  min-width: 18.75em;
  z-index: 1000;
  min-width: 18.75em;
}

.FooterContent {
  display: block;
  margin: 0 auto;
  width: 10em;
  padding-top: 1em;
}

.VerticalPagesList {
  padding-top: 0.5em;
}

.VerticalPagesList a {
  display: block;
  padding: 0.5em;
}
@media only screen and (max-width: 500px) {
  .VerticalPagesList li a {
    padding: 0.3em;
  }
}

@media only screen and (max-width: 500px) {
  .Footer {
    height: 15em;
  }
}
